Cannot parse valid leap-second dates when in weird timezones

***See [Newcomer Guide to Contributing to Core Perl 6](https://rakudo.party/post/Newcomer-Guide-to-Contributing-to-Core-Perl-6) for tips on fixing this Issue***

----------------


Per RFC7164, section 3: https://tools.ietf.org/html/rfc7164#section-3

> The leap second always happens in UTC and the 60th second in other timezones occurs in whatever hour UTC's second happens

We indeed follow that rule and stick leap second at some non-00 hour for some timezons, e.g. `00:59:60` for `+01:00` timezone:

```
<Zoffix_> m: say DateTime.new('2016-12-31T23:59:60Z').in-timezone: 3600
<camelia> rakudo-moar 7d9ca4fa0: OUTPUT: «2017-01-01T00:59:60+01:00␤»
```

However, if you specify some "weird" timezone, you get an error thrown:

```
<Zoffix_> m: say DateTime.new('2016-12-31T23:59:60Z').in-timezone: Int(3600/6)
<camelia> rakudo-moar 7d9ca4fa0: OUTPUT: «2017-01-01T00:09:60+00:10␤»
<Zoffix_> m: say DateTime.new('2016-12-31T23:59:60Z').in-timezone: Int(3600/7)
<camelia> rakudo-moar 7d9ca4fa0: OUTPUT: «Second out of range. Is: 60, should be in 0..^60; a leap second can occur only at 23:59␤  in block <unit> at <tmp> line 1␤␤»
<Zoffix_> m: say DateTime.new('2016-12-31T23:59:60Z').in-timezone: Int(3600/12)
<camelia> rakudo-moar 7d9ca4fa0: OUTPUT: «2017-01-01T00:04:60+00:05␤»
```

Looks like a possible rounding issue [somewhere in the method](https://github.com/rakudo/rakudo/blob/7d9ca4fa0ae453cae289aff90f5bb7b08a30dbd6/src/core/DateTime.pm6#L359-L379)

-----

P.S. there also a comment in the method questioning handling of leap seconds. Perhaps the referenced RFC can answer that question.

Fudged tests in https://github.com/perl6/roast/commit/89c7352ff0b1386aefd09a5343700c1c94dee4b1

Poked at it a bit. Looks like the "bug" only exists in "timezones" that aren't divisible by 60 (i.e. partial seconds need to be adjusted for).

I removed the fudged tests for it and putting this on a backburner, as there's no usecase for such timezones I'm aware of.