Blin 2020.06, round 3

[Blin](https://github.com/Raku/Blin) results between 2020.05.1 ([002acb1](https://github.com/rakudo/rakudo/commit/002acb1be2ba2a47ef8a48c30c340d43df91abed)) and HEAD ([219199b](https://github.com/rakudo/rakudo/commit/219199bb68bfd759eff51f5783a488071e3d05eb)):

* [ ] [IO::Glob](https://modules.raku.org/dist/IO::Glob) – Fail, Bisected: [b63976a](https://github.com/rakudo/rakudo/commit/b63976a8f19e650fe3533562a5fa040d84535de8)
  <details><Summary>Old Output</summary>

  ```
  ===> Searching for: IO::Glob
  ===> Found: IO::Glob:ver<0.9.0>:auth<github:zostay> [via Zef::Repository::LocalCache]
  ===> Testing: IO::Glob:ver<0.9.0>:auth<github:zostay>
  [IO::Glob] t/absolute.t ..... ok
  [IO::Glob] t/dir.t .......... ok
  [IO::Glob] t/double-star.t .. ok
  [IO::Glob] t/iterator.t ..... ok
  [IO::Glob] t/meta.t ......... ok
  [IO::Glob] t/path-dir.t ..... ok
  [IO::Glob] t/smart-match.t .. ok
  [IO::Glob] t/sqlish.t ....... ok
  [IO::Glob] All tests successful.
  [IO::Glob] Files=8, Tests=91, 23 wallclock secs ( 0.12 usr  0.00 sys + 16.21 cusr  1.38 csys = 17.71 CPU)
  [IO::Glob] Result: PASS
  ===> Testing [OK] for IO::Glob:ver<0.9.0>:auth<github:zostay>
  ===> Installing: IO::Glob:ver<0.9.0>:auth<github:zostay>
  ===> Install [OK] for IO::Glob:ver<0.9.0>:auth<github:zostay>

  ```
  </details>
  <details>
  <summary>New Output</summary>

  ```
  ===> Searching for: IO::Glob
  ===> Found: IO::Glob:ver<0.9.0>:auth<github:zostay> [via Zef::Repository::LocalCache]
  ===> Testing: IO::Glob:ver<0.9.0>:auth<github:zostay>
  [IO::Glob]     # Failed test at t/absolute.t line 21
  [IO::Glob]     # expected: $["Blin", "bin", "boot", "dev", "entrypoint.sh", "etc", "home", "lib", "lib64", "media", "mnt", "opt", "pkg-dependencies", "proc", "root", "run", "sbin", "srv", "sys", "tmp", "usr", "var"]
  [IO::Glob]     #      got: $[".", "..", "Blin", "bin", "boot", "dev", "entrypoint.sh", "etc", "home", "lib", "lib64", "media", "mnt", "opt", "pkg-dependencies", "proc", "root", "run", "sbin", "srv", "sys", "tmp", "usr", "var"]
  [IO::Glob]     # You failed 1 test of 1
  [IO::Glob] # Failed test 'root-in-the-glob'
  [IO::Glob] # at t/absolute.t line 19
  [IO::Glob]     # Failed test at t/absolute.t line 26
  [IO::Glob]     # expected: $["Blin", "bin", "boot", "dev", "entrypoint.sh", "etc", "home", "lib", "lib64", "media", "mnt", "opt", "pkg-dependencies", "proc", "root", "run", "sbin", "srv", "sys", "tmp", "usr", "var"]
  [IO::Glob]     #      got: $[".", "..", "Blin", "bin", "boot", "dev", "entrypoint.sh", "etc", "home", "lib", "lib64", "media", "mnt", "opt", "pkg-dependencies", "proc", "root", "run", "sbin", "srv", "sys", "tmp", "usr", "var"]
  [IO::Glob]     # You failed 1 test of 1
  [IO::Glob] # Failed test 'root-in-the-dir'
  [IO::Glob] # at t/absolute.t line 24
  [IO::Glob]     # Failed test at t/absolute.t line 31
  [IO::Glob]     # expected: $["Blin", "bin", "boot", "dev", "entrypoint.sh", "etc", "home", "lib", "lib64", "media", "mnt", "opt", "pkg-dependencies", "proc", "root", "run", "sbin", "srv", "sys", "tmp", "usr", "var"]
  [IO::Glob]     #      got: $[]
  [IO::Glob]     # You failed 1 test of 1
  [IO::Glob] # Failed test 'root-via-accept'
  [IO::Glob] # at t/absolute.t line 29
  [IO::Glob] # You failed 3 tests of 4
  [IO::Glob] t/absolute.t ..... 
  [IO::Glob] Dubious, test returned 3 (wstat 768, 0x300)
  [IO::Glob] Failed 3/4 subtests 
  [IO::Glob] t/dir.t .......... ok
  [IO::Glob] t/double-star.t .. ok
  [IO::Glob] t/iterator.t ..... ok
  [IO::Glob] t/meta.t ......... ok
  [IO::Glob] t/path-dir.t ..... ok
  [IO::Glob] t/smart-match.t .. ok
  [IO::Glob] t/sqlish.t ....... ok
  [IO::Glob] Test Summary Report
  [IO::Glob] -------------------
  [IO::Glob] t/absolute.t   (Wstat: 768 Tests: 4 Failed: 3)
  [IO::Glob]   Failed tests:  2-4
  [IO::Glob]   Non-zero exit status: 3
  [IO::Glob] Files=8, Tests=91, 28 wallclock secs ( 0.10 usr  0.03 sys + 22.31 cusr  1.50 csys = 23.94 CPU)
  [IO::Glob] Result: FAIL
  ===> Testing [FAIL]: IO::Glob:ver<0.9.0>:auth<github:zostay>
  [IO::Glob] Failed to get passing tests, but continuing with --force-test
  ===> Installing: IO::Glob:ver<0.9.0>:auth<github:zostay>
  ===> Install [OK] for IO::Glob:ver<0.9.0>:auth<github:zostay>

  ```
  </details>
* [x] [Template::Mustache](https://modules.raku.org/dist/Template::Mustache) – Fail, Bisected: [f10e5bc](https://github.com/rakudo/rakudo/commit/f10e5bcef1f69f982259faafb2a7816b83f71502)
  <details><Summary>Old Output</summary>

  ```
  ===> Searching for: Template::Mustache
  ===> Found: Template::Mustache:ver<1.1.4>:auth<github:softmoth> [via Zef::Repository::LocalCache]
  ===> Testing: Template::Mustache:ver<1.1.4>:auth<github:softmoth>
  [Template::Mustache] t/00-meta.t ........ ok
  [Template::Mustache] t/01-basic.t ....... ok
  [Template::Mustache] t/02-file.t ........ ok
  [Template::Mustache] t/03-cascade.t ..... ok
  [Template::Mustache] t/04-lambda.t ...... ok
  [Template::Mustache] t/05-promise.t ..... ok
  [Template::Mustache] t/06-warn.t ........ ok
  [Template::Mustache] t/10-objects.t ..... ok
  [Template::Mustache] t/11-iterable.t .... ok
  [Template::Mustache] t/50-readme.t ...... ok
  [Template::Mustache] t/91-specs.t ....... ok
  [Template::Mustache] t/92-specs-file.t .. ok
  [Template::Mustache] All tests successful.
  [Template::Mustache] Files=12, Tests=285, 32 wallclock secs ( 0.21 usr  0.03 sys + 27.08 cusr  1.67 csys = 28.99 CPU)
  [Template::Mustache] Result: PASS
  ===> Testing [OK] for Template::Mustache:ver<1.1.4>:auth<github:softmoth>
  ===> Installing: Template::Mustache:ver<1.1.4>:auth<github:softmoth>
  ===> Install [OK] for Template::Mustache:ver<1.1.4>:auth<github:softmoth>

  ```
  </details>
  <details>
  <summary>New Output</summary>

  ```
  ===> Searching for: Template::Mustache
  ===> Found: Template::Mustache:ver<1.1.4>:auth<github:softmoth> [via Zef::Repository::LocalCache]
  ===> Testing: Template::Mustache:ver<1.1.4>:auth<github:softmoth>
  [Template::Mustache] t/00-meta.t ........ ok
  [Template::Mustache] t/01-basic.t ....... ok
  [Template::Mustache] t/02-file.t ........ ok
  [Template::Mustache] t/03-cascade.t ..... ok
  [Template::Mustache] t/04-lambda.t ...... ok
  [Template::Mustache] t/05-promise.t ..... ok
  [Template::Mustache] t/06-warn.t ........ ok
  [Template::Mustache] t/10-objects.t ..... ok
  [Template::Mustache] t/11-iterable.t .... ok
  [Template::Mustache] t/50-readme.t ...... ok
  [Template::Mustache] This type cannot unbox to a native string: P6opaque, Int
  [Template::Mustache]   in sub parse-template at /mnt/Blin/data/zef-data/store/Template-Mustache-1.1.4.tar.gz/Template-Mustache-1.1.4/lib/Template/Mustache.rakumod (Template::Mustache) line 250
  [Template::Mustache]   in sub resolve at /mnt/Blin/data/zef-data/store/Template-Mustache-1.1.4.tar.gz/Template-Mustache-1.1.4/lib/Template/Mustache.rakumod (Template::Mustache) line 278
  [Template::Mustache]   in block  at /mnt/Blin/data/zef-data/store/Template-Mustache-1.1.4.tar.gz/Template-Mustache-1.1.4/lib/Template/Mustache.rakumod (Template::Mustache) line 312
  [Template::Mustache]   in sub get at /mnt/Blin/data/zef-data/store/Template-Mustache-1.1.4.tar.gz/Template-Mustache-1.1.4/lib/Template/Mustache.rakumod (Template::Mustache) line 308
  [Template::Mustache]   in sub format at /mnt/Blin/data/zef-data/store/Template-Mustache-1.1.4.tar.gz/Template-Mustache-1.1.4/lib/Template/Mustache.rakumod (Template::Mustache) line 340
  [Template::Mustache]   in sub format at /mnt/Blin/data/zef-data/store/Template-Mustache-1.1.4.tar.gz/Template-Mustache-1.1.4/lib/Template/Mustache.rakumod (Template::Mustache) line 271
  [Template::Mustache]   in method render at /mnt/Blin/data/zef-data/store/Template-Mustache-1.1.4.tar.gz/Template-Mustache-1.1.4/lib/Template/Mustache.rakumod (Template::Mustache) line 208
  [Template::Mustache]   in block <unit> at t/91-specs.t line 8
  [Template::Mustache] # You planned 125 tests, but ran 118
  [Template::Mustache] t/91-specs.t ....... 
  [Template::Mustache] Dubious, test returned 255 (wstat 65280, 0xff00)
  [Template::Mustache] Failed 7/125 subtests 
  [Template::Mustache] This type cannot unbox to a native string: P6opaque, Int
  [Template::Mustache]   in sub parse-template at /mnt/Blin/data/zef-data/store/Template-Mustache-1.1.4.tar.gz/Template-Mustache-1.1.4/lib/Template/Mustache.rakumod (Template::Mustache) line 250
  [Template::Mustache]   in sub resolve at /mnt/Blin/data/zef-data/store/Template-Mustache-1.1.4.tar.gz/Template-Mustache-1.1.4/lib/Template/Mustache.rakumod (Template::Mustache) line 278
  [Template::Mustache]   in block  at /mnt/Blin/data/zef-data/store/Template-Mustache-1.1.4.tar.gz/Template-Mustache-1.1.4/lib/Template/Mustache.rakumod (Template::Mustache) line 312
  [Template::Mustache]   in sub get at /mnt/Blin/data/zef-data/store/Template-Mustache-1.1.4.tar.gz/Template-Mustache-1.1.4/lib/Template/Mustache.rakumod (Template::Mustache) line 308
  [Template::Mustache]   in sub format at /mnt/Blin/data/zef-data/store/Template-Mustache-1.1.4.tar.gz/Template-Mustache-1.1.4/lib/Template/Mustache.rakumod (Template::Mustache) line 340
  [Template::Mustache]   in sub format at /mnt/Blin/data/zef-data/store/Template-Mustache-1.1.4.tar.gz/Template-Mustache-1.1.4/lib/Template/Mustache.rakumod (Template::Mustache) line 271
  [Template::Mustache]   in method render at /mnt/Blin/data/zef-data/store/Template-Mustache-1.1.4.tar.gz/Template-Mustache-1.1.4/lib/Template/Mustache.rakumod (Template::Mustache) line 208
  [Template::Mustache]   in block <unit> at t/92-specs-file.t line 27
  [Template::Mustache] # You planned 125 tests, but ran 118
  [Template::Mustache] t/92-specs-file.t .. 
  [Template::Mustache] Dubious, test returned 255 (wstat 65280, 0xff00)
  [Template::Mustache] Failed 7/125 subtests 
  [Template::Mustache] Test Summary Report
  [Template::Mustache] -------------------
  [Template::Mustache] t/91-specs.t     (Wstat: 65280 Tests: 118 Failed: 0)
  [Template::Mustache]   Non-zero exit status: 255
  [Template::Mustache]   Parse errors: Bad plan.  You planned 125 tests but ran 118.
  [Template::Mustache] t/92-specs-file.t (Wstat: 65280 Tests: 118 Failed: 0)
  [Template::Mustache]   Non-zero exit status: 255
  [Template::Mustache]   Parse errors: Bad plan.  You planned 125 tests but ran 118.
  [Template::Mustache] Files=12, Tests=271, 35 wallclock secs ( 0.23 usr  0.02 sys + 33.27 cusr  2.22 csys = 35.74 CPU)
  [Template::Mustache] Result: FAIL
  ===> Testing [FAIL]: Template::Mustache:ver<1.1.4>:auth<github:softmoth>
  [Template::Mustache] Failed to get passing tests, but continuing with --force-test
  ===> Installing: Template::Mustache:ver<1.1.4>:auth<github:softmoth>
  ===> Install [OK] for Template::Mustache:ver<1.1.4>:auth<github:softmoth>

  ```
  </details>
* [x] [Grammar::HTTP](https://modules.raku.org/dist/Grammar::HTTP) – Fail, Bisected: [f627d2c](https://github.com/rakudo/rakudo/commit/f627d2c85955b2a7d7478d06c22be2f6c93f93a4)
  <details><Summary>Old Output</summary>

  ```
  ===> Searching for: Grammar::HTTP
  ===> Found: Grammar::HTTP:ver<0.0.2>:auth<github:ugexe> [via Zef::Repository::LocalCache]
  ===> Testing: Grammar::HTTP:ver<0.0.2>:auth<github:ugexe>
  [Grammar::HTTP] t/00-sanity.t ............. ok
  [Grammar::HTTP] t/01-http-grammar.t ....... ok
  [Grammar::HTTP] t/02-http-actions.t ....... ok
  [Grammar::HTTP] t/ABNF/01-RFC4234_Core.t .. ok
  [Grammar::HTTP] t/ABNF/02-RFC4234.t ....... ok
  [Grammar::HTTP] t/ABNF/03-RFC5234_Core.t .. ok
  [Grammar::HTTP] t/ABNF/04-RFC5234.t ....... ok
  [Grammar::HTTP] t/ABNF/05-RFC7405.t ....... ok
  [Grammar::HTTP] t/DNS/01-RFC1035.t ........ ok
  [Grammar::HTTP] t/IOL/01-RFC3066.t ........ ok
  [Grammar::HTTP] t/IOL/02-RFC4647.t ........ ok
  [Grammar::HTTP] t/IOL/03-RFC5646.t ........ ok
  [Grammar::HTTP] All tests successful.
  [Grammar::HTTP] Files=12, Tests=121, 41 wallclock secs ( 0.77 usr  0.12 sys + 32.79 cusr  2.18 csys = 35.86 CPU)
  [Grammar::HTTP] Result: PASS
  ===> Testing [OK] for Grammar::HTTP:ver<0.0.2>:auth<github:ugexe>
  ===> Installing: Grammar::HTTP:ver<0.0.2>:auth<github:ugexe>
  ===> Install [OK] for Grammar::HTTP:ver<0.0.2>:auth<github:ugexe>

  ```
  </details>
  <details>
  <summary>New Output</summary>

  ```
  ===> Searching for: Grammar::HTTP
  ===> Found: Grammar::HTTP:ver<0.0.2>:auth<github:ugexe> [via Zef::Repository::LocalCache]
  ===> Testing: Grammar::HTTP:ver<0.0.2>:auth<github:ugexe>
  [Grammar::HTTP] t/00-sanity.t ............. ok
  [Grammar::HTTP] t/01-http-grammar.t ....... ok
  [Grammar::HTTP] t/02-http-actions.t ....... ok
  [Grammar::HTTP] This type cannot unbox to a native string: P6opaque, Int
  [Grammar::HTTP]   in sub is_match at /mnt/Blin/data/zef-data/store/Perl6-Grammar--HTTP.git/210371b64dafcca7b4eecf450489d9a992388f27/t/lib/TestLocal/Grammar.pm6 (TestLocal::Grammar) line 6
  [Grammar::HTTP]   in block  at t/ABNF/01-RFC4234_Core.t line 56
  [Grammar::HTTP]   in sub subtest at /tmp/whateverable/rakudo-moar/219199bb68bfd759eff51f5783a488071e3d05eb/share/perl6/core/sources/2D4A7CA10695CD2B374573413D261A660E282E2A (Test) line 430
  [Grammar::HTTP]   in block <unit> at t/ABNF/01-RFC4234_Core.t line 52
  [Grammar::HTTP] t/ABNF/01-RFC4234_Core.t .. 
  [Grammar::HTTP] Dubious, test returned 255 (wstat 65280, 0xff00)
  [Grammar::HTTP] Failed 15/16 subtests 
  [Grammar::HTTP] t/ABNF/02-RFC4234.t ....... ok
  [Grammar::HTTP] This type cannot unbox to a native string: P6opaque, Int
  [Grammar::HTTP]   in sub is_match at /mnt/Blin/data/zef-data/store/Perl6-Grammar--HTTP.git/210371b64dafcca7b4eecf450489d9a992388f27/t/lib/TestLocal/Grammar.pm6 (TestLocal::Grammar) line 6
  [Grammar::HTTP]   in block  at t/ABNF/03-RFC5234_Core.t line 56
  [Grammar::HTTP]   in sub subtest at /tmp/whateverable/rakudo-moar/219199bb68bfd759eff51f5783a488071e3d05eb/share/perl6/core/sources/2D4A7CA10695CD2B374573413D261A660E282E2A (Test) line 430
  [Grammar::HTTP]   in block <unit> at t/ABNF/03-RFC5234_Core.t line 52
  [Grammar::HTTP] t/ABNF/03-RFC5234_Core.t .. 
  [Grammar::HTTP] Dubious, test returned 255 (wstat 65280, 0xff00)
  [Grammar::HTTP] Failed 15/16 subtests 
  [Grammar::HTTP] t/ABNF/04-RFC5234.t ....... ok
  [Grammar::HTTP] t/ABNF/05-RFC7405.t ....... ok
  [Grammar::HTTP] This type cannot unbox to a native string: P6opaque, Int
  [Grammar::HTTP]   in sub is_match at /mnt/Blin/data/zef-data/store/Perl6-Grammar--HTTP.git/210371b64dafcca7b4eecf450489d9a992388f27/t/lib/TestLocal/Grammar.pm6 (TestLocal::Grammar) line 6
  [Grammar::HTTP]   in block  at t/DNS/01-RFC1035.t line 27
  [Grammar::HTTP]   in sub subtest at /tmp/whateverable/rakudo-moar/219199bb68bfd759eff51f5783a488071e3d05eb/share/perl6/core/sources/2D4A7CA10695CD2B374573413D261A660E282E2A (Test) line 430
  [Grammar::HTTP]   in block <unit> at t/DNS/01-RFC1035.t line 23
  [Grammar::HTTP] t/DNS/01-RFC1035.t ........ 
  [Grammar::HTTP] Dubious, test returned 255 (wstat 65280, 0xff00)
  [Grammar::HTTP] Failed 7/8 subtests 
  [Grammar::HTTP] t/IOL/01-RFC3066.t ........ ok
  [Grammar::HTTP] This type cannot unbox to a native string: P6opaque, Int
  [Grammar::HTTP]   in sub is_match at /mnt/Blin/data/zef-data/store/Perl6-Grammar--HTTP.git/210371b64dafcca7b4eecf450489d9a992388f27/t/lib/TestLocal/Grammar.pm6 (TestLocal::Grammar) line 6
  [Grammar::HTTP]   in block <unit> at t/IOL/02-RFC4647.t line 63
  [Grammar::HTTP]     # You planned 4 tests, but ran 2
  [Grammar::HTTP] t/IOL/02-RFC4647.t ........ 
  [Grammar::HTTP] Dubious, test returned 255 (wstat 65280, 0xff00)
  [Grammar::HTTP] Failed 1/3 subtests 
  [Grammar::HTTP] t/IOL/03-RFC5646.t ........ ok
  [Grammar::HTTP] Test Summary Report
  [Grammar::HTTP] -------------------
  [Grammar::HTTP] t/ABNF/01-RFC4234_Core.t (Wstat: 65280 Tests: 1 Failed: 0)
  [Grammar::HTTP]   Non-zero exit status: 255
  [Grammar::HTTP]   Parse errors: Bad plan.  You planned 16 tests but ran 1.
  [Grammar::HTTP] t/ABNF/03-RFC5234_Core.t (Wstat: 65280 Tests: 1 Failed: 0)
  [Grammar::HTTP]   Non-zero exit status: 255
  [Grammar::HTTP]   Parse errors: Bad plan.  You planned 16 tests but ran 1.
  [Grammar::HTTP] t/DNS/01-RFC1035.t      (Wstat: 65280 Tests: 1 Failed: 0)
  [Grammar::HTTP]   Non-zero exit status: 255
  [Grammar::HTTP]   Parse errors: Bad plan.  You planned 8 tests but ran 1.
  [Grammar::HTTP] t/IOL/02-RFC4647.t      (Wstat: 65280 Tests: 2 Failed: 0)
  [Grammar::HTTP]   Non-zero exit status: 255
  [Grammar::HTTP]   Parse errors: Bad plan.  You planned 3 tests but ran 2.
  [Grammar::HTTP] Files=12, Tests=83, 91 wallclock secs ( 0.43 usr  0.05 sys + 78.70 cusr  5.89 csys = 85.07 CPU)
  [Grammar::HTTP] Result: FAIL
  ===> Testing [FAIL]: Grammar::HTTP:ver<0.0.2>:auth<github:ugexe>
  [Grammar::HTTP] Failed to get passing tests, but continuing with --force-test
  ===> Installing: Grammar::HTTP:ver<0.0.2>:auth<github:ugexe>
  ===> Install [OK] for Grammar::HTTP:ver<0.0.2>:auth<github:ugexe>

  ```
  </details>



| Status                    | Count |          Modules          |
| :------------------------ | :---: | :------------------------ |
| UnhandledException        |     1 | [Foo::�Foo](https://modules.raku.org/dist/Foo::�Foo) |
| Flapper                   |     2 | [Linux::Fuser](https://modules.raku.org/dist/Linux::Fuser) [epoll](https://modules.raku.org/dist/epoll) |
| InstallableButUntested    |     7 | [HTTP::Server::Async](https://modules.raku.org/dist/HTTP::Server::Async) [IO::Socket::Async::SSL](https://modules.raku.org/dist/IO::Socket::Async::SSL) [IRC::Client](https://modules.raku.org/dist/IRC::Client) [Log::Minimal](https://modules.raku.org/dist/Log::Minimal) [Time::Duration](https://modules.raku.org/dist/Time::Duration) [Toaster](https://modules.raku.org/dist/Toaster) [Uzu](https://modules.raku.org/dist/Uzu) |
| Fail                      |     8 |[Grammar::HTTP](https://modules.raku.org/dist/Grammar::HTTP) [IO::Glob](https://modules.raku.org/dist/IO::Glob) [Template::Mustache](https://modules.raku.org/dist/Template::Mustache) |
| MissingDependency         |     8 | [CSS::Module](https://modules.raku.org/dist/CSS::Module) [CSS::Selector::To::XPath](https://modules.raku.org/dist/CSS::Selector::To::XPath) [DBIx::NamedQueries](https://modules.raku.org/dist/DBIx::NamedQueries) [HTTP::Server::Middleware::JSON](https://modules.raku.org/dist/HTTP::Server::Middleware::JSON) [HTTP::Server::Router](https://modules.raku.org/dist/HTTP::Server::Router) [HTTP::Server::Router::YAML](https://modules.raku.org/dist/HTTP::Server::Router::YAML) [Task::Galaxy](https://modules.raku.org/dist/Task::Galaxy) [Termbox](https://modules.raku.org/dist/Termbox) |
| ZefFailure                |     9 | [Chess](https://modules.raku.org/dist/Chess) [Concurrent::BoundedChannel](https://modules.raku.org/dist/Concurrent::BoundedChannel) [DateTime::TimeZone](https://modules.raku.org/dist/DateTime::TimeZone) [Games::BubbleBreaker](https://modules.raku.org/dist/Games::BubbleBreaker) [Gnome::Gtk3](https://modules.raku.org/dist/Gnome::Gtk3) [MongoDB](https://modules.raku.org/dist/MongoDB) [Net::SMTP::Client::Async](https://modules.raku.org/dist/Net::SMTP::Client::Async) [PDF::Class](https://modules.raku.org/dist/PDF::Class) [Test::Async](https://modules.raku.org/dist/Test::Async) |
| CyclicDependency          |    13 | [Algorithm::HierarchicalPAM](https://modules.raku.org/dist/Algorithm::HierarchicalPAM) [Algorithm::LDA](https://modules.raku.org/dist/Algorithm::LDA) [Algorithm::LibSVM](https://modules.raku.org/dist/Algorithm::LibSVM) [CSS](https://modules.raku.org/dist/CSS) [CSS::Properties](https://modules.raku.org/dist/CSS::Properties) [Chart::Gnuplot](https://modules.raku.org/dist/Chart::Gnuplot) [Foo::Dependencies::A-on-B](https://modules.raku.org/dist/Foo::Dependencies::A-on-B) [Foo::Dependencies::B-on-A](https://modules.raku.org/dist/Foo::Dependencies::B-on-A) [Foo::Dependencies::Self](https://modules.raku.org/dist/Foo::Dependencies::Self) [Geo::Hash](https://modules.raku.org/dist/Geo::Hash) [HTML::Canvas](https://modules.raku.org/dist/HTML::Canvas) [HTML::Canvas::To::PDF](https://modules.raku.org/dist/HTML::Canvas::To::PDF) [MeCab](https://modules.raku.org/dist/MeCab) |
| AlwaysFail                |   309 | ⋯                         |
| OK                        |  1119 | ⋯                         |



This run started on 2020-06-15T04:58:48Z and finished in ≈7 hours.

<!--
Graph of bisected modules and their dependencies:

⚠ Drag'n'drop the generated output/overview.png file here! ⚠
-->


OK, I will give Grammar::HTTP a try.

The thing with Template::Mustache is that I can reproduce the message, but it does not produce a failure...

Sorry, I can't figure out what's the problem with Template::Mustache. 

I think that the problems with Grammar::HTTP and Template::Mustache might have a common origin, and it might be a bug. But I can't golf it down... 

Is it possible to get the full output of the Blin run? There are two modules in the `ZefFailure` category that I am actively using and am able to install fine: `DateTime::TimeZone` and `Net::SMTP::Client::Async`

Will take a look at IO::Glob, but the links in module.raku.org lead nowhere.

@patrickbkr https://clbin.com/r4F3Y <- json output.

Working on IO::Glob, but it's not so easy. The error seems to be in an underlying class, Globber, which is not tested. I'm going to write some tests for that, to see if can nail it down.

I've done [this PR](https://github.com/zostay/raku-IO-Glob/pull/23). It solves two of the tests, but my impression is that the problem is further down, in the grammar; it needs more extensive tests of the grammars and related classes, however.

@JJ this might be a valid Rakudo regression and can break someone's code we don't have access to, so we possibly want to explore why the test started to fail and if we can fix it compiler-side.

That's where I got lost. My impression is that it happens somewhere in a
grammar action, but that's not much, because that's precisely what has
changed. Many more low-level tests would be needed to find out exactly
where it fails, because you see that the stack trace is kind of staggering.


I would say Task::Galaxy should probably be eliminated. It's a Meta package, no real content, and it's basically pointing to many other distros, some of which are missing or failing.

Raised [an issue](https://gitlab.com/stmuk/p6-task-galaxy/-/issues/1).

HTTP::Server::Router and those depending on it are waiting for [this PR](https://github.com/tony-o/perl6-http-server-router/pull/6) to be merged.

I'd say we should exclude it from number of modules Blin tests, yes.

Confirmed the fail on installing `HTTP::Grammar`, however running each of the tests with `raku -Ilib` works fine.

Been able to reproduce error now with `raku -Ilib`, looking at fix.

`HTTP::Grammar` and `Template::Mustache` fixed with https://github.com/rakudo/rakudo/commit/1402c1d1ed

Great! I am starting another round of Blin.

Closed in place of round 4.